:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  --transparent-white: hsla(0, 0%, 100%, 0.75); /* paragraphs */
  --very-light-gray: hsl(0, 0%, 95%); /* background, headings, buttons */

  --ff-lexend-deca: 'Lexend Deca', sans-serif;
  --ff-big-shoulders-display: 'Big Shoulders Display', sans-serif;

  --fw-400: 400;
  --fw-700: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
optgroup,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-lexend-deca);
  font-weight: var(--fw-400);
  font-size: 0.9375rem;
  color: var(--transparent-white);
  line-height: 1.7;
  background-color: var(--very-light-gray);
}

main {
  display: flex;
}

.card {
  max-width: 19.375rem;
  padding: 3.125rem;
}

.card h2 {
  text-transform: uppercase;
  font-family: var(--ff-big-shoulders-display);
  font-size: 2.5rem;
  font-weight: var(--fw-700);
  color: var(--very-light-gray);
  margin-top: 1.5625rem;
  margin-bottom: 0.9375rem;
}

.card-sedans {
  background-color: var(--bright-orange);
  border-radius: 10px 0 0 10px;
}

.card-suvs {
  background-color: var(--dark-cyan);
}

.card-luxury {
  background-color: var(--very-dark-cyan);
  border-radius: 0 10px 10px 0;
}

.button {
  background-color: var(--very-light-gray);
  border: 2px solid var(--very-light-gray);
  padding: 0.8125rem 1.875rem;
  border-radius: 35px;
  margin-top: 5.3125rem;
  cursor: pointer;
  transition-duration: 0.2s;
}

.button:hover {
  background-color: transparent;
  color: var(--very-light-gray);
}

.card-sedans button {
  color: var(--bright-orange);
}

.card-suvs button {
  color: var(--dark-cyan);
}

.card-luxury button {
  color: var(--very-dark-cyan);
}

@media screen and (max-width: 480px) {
  body {
    padding: 5rem 0;
  }
  main {
    display: flex;
    flex-direction: column;
  }

  .card {
    max-width: 20.625rem;
  }

  .card-sedans {
    border-radius: 10px 10px 0 0;
  }

  .card-luxury {
    border-radius: 0 0 10px 10px;
  }

  .button {
    margin-top: 1.5625rem;
  }
}
